<h1>Home Page</h1>
<h1>Home Page</h1>
<h1>Home Page</h1>
<h1>Home Page --- {{title}}</h1>
<h1>Home Page --- {{date}} </h1>
{{#each array}}

    <li>
        {{this}}
    </li>
    {{/each}}
<h1>Home Page</h1>
<h1>Home Page</h1>
<h1>Home Page</h1>